In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df1 = pd.read_csv('/Users/yniyunj/Desktop/AI/250808-GCOO/data/gct_20250824_211810/mid/gct_df10.csv')
df1

,lat,lng,bicycle_id,region_id,is_activated,battery,gcooter_status,is_discount_scooter,model_info_id,movable_distance_value_km,collected_time,hour,minute,second,dist_m
0,37.570851,126.983391,3353,955,True,59,IDLE,False,11,17,2025-08-24 21:18:54,21,18,54,NaN
1,37.546321,127.101217,6680,446,True,33,IDLE,False,11,9,2025-08-24 21:18:26,21,18,26,NaN
2,37.552868,127.090260,6680,446,True,100,IDLE,False,11,30,2025-08-24 23:00:07,23,0,7,1236.765593
3,37.553531,127.089977,6680,446,True,100,IDLE,False,11,30,2025-08-24 23:04:26,23,4,26,77.718105
4,37.570279,127.086240,6680,446,True,100,IDLE,False,11,30,2025-08-24 23:09:29,23,9,29,1887.927437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8122,37.507132,127.095595,120722,524,True,47,IDLE,False,18,14,2025-08-24 21:18:17,21,18,17,NaN
8123,37.507253,127.095246,120722,524,True,47,IDLE,False,18,14,2025-08-24 21:26:12,21,26,12,33.653210
8124,37.507074,127.095555,120722,524,True,47,IDLE,False,18,14,2025-08-24 22:10:48,22,10,48,32.722816
8125,37.507304,127.095355,120722,524,True,47,IDLE,False,18,14,2025-08-24 22:25:08,22,25,8,31.053733
8126,37.511385,127.087141,120722,524,True,45,IDLE,False,18,13,2025-08-24 22:50:56,22,50,56,872.773670